body {
    background-color: #2a7c92;
}
h4, h3 {
    text-align: center;
}
h4 {
    color: yellow;
}
h3 {
    color: white;
}
img.adam {
    height: 100px;
}
body, main.mdl-layout__content {

}
div.container {
    
}
main.content {
    width: 90%;
    min-height: 300px;
    margin: auto;
}
header {
    margin-top: 40px !important;
}
.header {
    box-shadow: none !important;
}
.search {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}
.search input {
    background-color: white;
    padding: 10px;
}
.search button {
    margin-left: 20px;
}

            footer {
                position: fixed;
                bottom: 0px;
                text-align: center;
                width: 100%;
            }
            footer span {
                display: inline-block;
                margin: 10px;
            }

/*body {
  padding-top: 10px;
  background-color: #2A7C92;
}
[class*="col-"]{
  border: 2px solid black;
  border-color: lightgreen;
  border-radius: 6px;
  
  line-height: 40px;
  text-align: center;
  background-color: #ffffff;
 
}



.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
#mynetwork {
  width: 100%;
  height: 100%;
  margin: 0;
}

#network-frame
{
  background-color: lightgreen;
}
*/
