RewriteEngine On

RewriteRule search/(.+)/$ query/index.php?query=$1 [L]
RewriteRule search/(.+)$ query/index.php?query=$1 [L]
RewriteRule search/?$ / [R]

RewriteRule search-fh/(.+)/$ francis-hutcheson/query/index.php?query=$1 [L]
RewriteRule search-fh/(.+)$ francis-hutcheson/query/index.php?query=$1 [L]
RewriteRule search-fh/?$ / [R]

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    #Header set Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
    #Header set Access-Control-Allow-Headers "*"
    #Header unset ETag
    #Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    #Header set Pragma "no-cache"
    #Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</IfModule>
